<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agenda" [routerLink]="['/tabs/agenda']">
      <img src="assets/icon/home.png" alt="home" class="home" />
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="disponibilidade" [routerLink]="['/tabs/disponibilidade']">
      <img src="assets/icon/timer.png" alt="disponibilidade" class="disponibilidade" />
      <ion-label>Disponibilidade</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agendados" [routerLink]="['/tabs/agendados']">
      <img src="assets/icon/timer.png" alt="agendados" class="agendados" />
      <ion-label>Agendados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config" [routerLink]="['/tabs/config']">
      <img src="assets/icon/settings.png" alt="settings" class="settings" />
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<router-outlet></router-outlet>
