  <ion-content class="login-container" fullscreen>
    <div class="header">
      <img src="assets/logo-educadrive.png" alt="EducaDrive" class="logo" />
      <h1>EducaDrive</h1>
    </div>

    <div class="content-wrapper">
      <ion-card class="login-card">
        <ion-card-content>

          <ion-text><h2 class="login-text">Login:</h2></ion-text>

          <ion-item>
            <img src="assets/icon/at-outline.png" alt="outline" class="logo" />
            <ion-input type="email" placeholder="Digite seu email"></ion-input>
          </ion-item>

          <ion-item>
            <img src="assets/icon/bag.png" alt="bag" class="logo" />
            <ion-input type="password" placeholder="Digite sua senha"></ion-input>
          </ion-item>

          <div class="links">
            <ion-text color="medium" class="forgot-password">Esqueceu sua senha?</ion-text><br />
            <ion-text color="medium" class="our-terms">Leia nossos termos</ion-text>
          </div>

          <ion-button expand="block" color="primary" (click)="onLogin('aluno')">Acessar</ion-button>

          <div class="divider">ou</div>

          <ion-button expand="block" color="light" class="google-btn">
            <img src="assets/icon/google.png" class="google-icon" />
            <span>Entrar com o Google</span>
          </ion-button>          

        </ion-card-content>
      </ion-card>
    </div>
    <ion-footer>
      <div class="social-icons">
        <img src="assets/icon/facebook.png" alt="Facebook" class="logo" />
        <img src="assets/icon/twitch.png" alt="Twitch" class="logo" />
        <img src="assets/icon/linkedin.png" alt="LinkedIn" class="logo" />
        <img src="assets/icon/github.png" alt="GitHub" class="logo" />
      </div>
    </ion-footer>
  </ion-content>