<ion-content class="agenda-container" fullscreen>
  <div class="top-info">
    <div class="user-header">
      <img [src]="photoURL" alt="avatar" class="avatar" />
      <div class="user-info">
        <div class="user-top">
          <h3 class="username">{{ name }}</h3>
          <img src="assets/icon/enter-sharp.png" alt="logout" class="calendar" (click)="logout()" />
        </div>

        <div class="date-picker">
          <span>Selecione uma data:</span>
          <ion-button fill="clear" (click)="showDatePicker = true" class="calendar-button">
            <img src="assets/icon/calendar.png" alt="calendar" class="calendar" />
            <span *ngIf="selectedDate">{{ selectedDate }}</span>
          </ion-button>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <ion-datetime
    *ngIf="showDatePicker"
    presentation="date"
    (ionChange)="onDateSelected($event)"
    (ionCancel)="showDatePicker = false"
  ></ion-datetime>

  <ion-card class="login-card">
    <ion-card-content>
      <ion-list class="agenda-list">
        <ion-item *ngFor="let item of agendaItems" class="agenda-item" [color]="item.cor">
          <img [src]="item.imagem" alt="avatar" class="avatar" />
          <ion-label>
            <h3 class="nome">{{ item.nome }}</h3>
            <p class="status">{{ item.status }}</p>
          </ion-label>
          <div slot="end">
            <ion-button
              *ngIf="role === 'aluno' && item.status === 'Disponível'"
              size="small"
              (click)="abrirModal(item.id)"
            >
              Marcar
            </ion-button>
            <ion-button
              *ngIf="role === 'professor'"
              size="small"
              color="danger"
              (click)="cancelarAula(item.id)"
            >
              Cancelar
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
