<ion-content class="agenda-container" fullscreen>
  <div class="top-info">
    <h2>Agenda de {{ role }}</h2>
    <p class="data">Data: 22/03/2005</p>
  </div>

  <ion-list class="agenda-list">
    <ion-item *ngFor="let item of agendaItems" class="agenda-item" [color]="item.cor">
      <ion-label>
        <h3 class="nome">{{ item.nome }}</h3>
        <p class="status">{{ item.status }}</p>
      </ion-label>
      <div slot="end" class="hora">{{ item.hora }}</div>
    </ion-item>
  </ion-list>

  <div class="footer-actions">
    <ion-button routerLink="/login" color="medium">Sair</ion-button>
  </div>
</ion-content>
